@charset "UTF-8";
* {
  padding: 0%;
  margin: 0%;
  list-style: none;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  width: 320px;
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 44px;
  top: 0;
  border: 1px solid green;
}

header img {
  float: left;
  margin-top: 10px;
  margin-left: 7%;
  width: 24px;
}

header nav {
  float: right;
}

header nav .menu ul {
  /*posicion absolute para que se posicione debajo del resto del header - top medida del header*/
  width: 100%;
  position: absolute;
  top: 45px;
  right: 0;
  overflow: hidden;
  list-style: none;
  background: #0000ec;
  height: 0px;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
}

header nav .menu ul li {
  position: relative;
}

header nav .menu ul li:hover {
  background: #00f3bb;
}

header nav .menu ul li a {
  position: relative;
  text-decoration: none;
  font-family: 'IBM Plex Mono';
  font-size: 16px;
  color: white;
  padding: 4%;
  line-height: 28px;
  display: block;
}

header nav .menu ul li a:hover {
  color: black;
}

/*animación del menu que se desplega*/
header nav .menu input[type="checkbox"]:checked ~ ul {
  height: 224px;
  transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  -webkit-transition: height 0.5s ease-in-out;
}

header nav .menu {
  padding-top: 3px;
}

/*checkbox transparente y en primer plano*/
header nav .menu input {
  display: block;
  width: 40px;
  height: 32px;
  opacity: 0;
  z-index: 2;
  position: absolute;
}

/*span -lineas del menu hamburguesa-*/
header nav .menu span {
  display: block;
  width: 25px;
  height: 2.5px;
  margin-bottom: 6.5px;
  position: relative;
  background: #000;
  z-index: 1;
  -webkit-transform-origin: 3px 0px;
          transform-origin: 3px 0px;
  -webkit-transition: opacity 0.55s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.55s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.55s ease;
  transition: transform 0.5s ease, opacity 0.55s ease, -webkit-transform 0.5s ease;
}

header nav .menu span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

header nav .menu span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

/*movimiento a cruz*/
header nav .menu input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(2px, 1px);
          transform: rotate(45deg) translate(2px, 1px);
}

header nav .menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

header nav .menu input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(1px, 0px);
          transform: rotate(-45deg) translate(1px, 0px);
}

.div2 {
  margin-top: 44px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: 308px;
  color: #060A24;
  text-align: left;
}

.div2 #parrafo1 {
  visibility: visible;
}

.div2 #parrafo2 {
  visibility: hidden;
  margin-top: -90px;
}

.div2 div {
  width: 224px;
  margin-top: 29px;
  margin-left: 16px;
}

.div2 h1 {
  font-family: 'IBM Plex Sans';
  display: inline-block;
  margin-top: 29px;
  font-weight: 600;
  font-size: 36px;
  color: #060A24;
  line-height: 42px;
  border: 1px solid yellowgreen;
}

.div2 h1 span {
  color: #060A24;
}

.div2 p {
  font-family: 'IBM Plex Mono';
  font-size: 14px;
  line-height: 22px;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  color: #060A24;
  border: 1px solid yellowgreen;
}

.div2 a {
  margin-top: 36px;
}

.div3 {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  height: 1215.5px;
  border: 1px solid yellowgreen;
  position: relative;
}

.div3 section {
  position: absolute;
  z-index: 1;
}

.div3 section h1 {
  font-family: 'IBM Plex Sans';
  font-weight: lighter;
  font-size: 36px;
  margin-top: 64px;
  margin-left: 16px;
  color: #ffffff;
  line-height: 42px;
}

.div3 .div3_bg {
  position: absolute;
  width: 100%;
  height: 1180px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
  background-image: linear-gradient(#0000FF, #0000A3);
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  -webkit-transform-origin: right;
          transform-origin: right;
  z-index: -4;
}

.content_grid {
  height: 943px;
  margin-top: 21px;
  margin-left: 11px;
  margin-right: 11px;
  margin-bottom: 143.5px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5px;
}

.content_grid iframe {
  width: 298px;
  height: 225px;
}

.div4 {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  height: 823.5px;
  border: 1px solid red;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.div4 img {
  margin-top: -100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  margin-left: none;
  margin-right: none;
}

.div4 h1 {
  font-family: 'IBM Plex Sans';
  font-size: 36px;
  font-weight: normal;
  margin-top: 27px;
  margin-left: 16px;
  width: 200px;
  color: #060A24;
  line-height: 42px;
}

.div4 p {
  font-family: 'IBM Plex Mono';
  font-size: 16px;
  line-height: 22px;
  margin-top: 8px;
  margin-left: 16px;
  margin-right: 16px;
  color: #060A24;
}

.div5 {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  height: 1573px;
  border: 1px solid red;
}

.div5 h1 {
  font-family: 'IBM Plex Sans';
  font-size: 36px;
  font-weight: normal;
  margin-top: 54px;
  margin-left: 16px;
  color: #060A24;
  line-height: 42px;
}

.content_images {
  height: 900px;
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content_images img {
  width: 100%;
}

.div6 {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  height: 1026.5px;
  border: 1px solid red;
}

.div6 h1 {
  font-family: 'IBM Plex Sans';
  font-weight: lighter;
  font-size: 36px;
  margin-top: 48px;
  margin-left: 16px;
  color: #060A24;
  line-height: 42px;
}

.content_images2 {
  font-family: 'IBM Plex Sans';
  font-weight: bold;
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content_images2 img {
  padding: 13px;
}

.div7 {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  height: 346.5px;
  border: 1px solid red;
  position: relative;
  overflow: hidden;
}

.div7 section {
  position: absolute;
  z-index: 1;
}

.div7 section h1 {
  font-family: 'IBM Plex Sans';
  font-weight: lighter;
  font-size: 36px;
  margin-top: 64px;
  color: #ffffff;
  line-height: 42px;
  letter-spacing: 1px;
  text-align: center;
}

.div7 .div7_bg {
  position: absolute;
  width: 100%;
  height: 346px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
  background-image: linear-gradient(#0000FF, #0000A3);
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  -webkit-transform-origin: right;
          transform-origin: right;
  overflow: hidden;
  z-index: -4;
}

footer {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  height: 121px;
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

footer p {
  font-family: 'IBM Plex Mono';
  font-size: 14px;
  margin-top: 24px;
  margin-left: 41px;
  margin-right: 41px;
  color: #060A24;
  line-height: 22px;
}

.flex_nets {
  margin-top: 16px;
  margin-left: 41px;
  margin-right: 41px;
}

.flex_nets ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex_nets ul li a i {
  height: 28px;
  width: 16px;
}

.btn1 {
  background-color: #00F3BB;
  font-size: 16px;
  font-family: 'IBM Plex Mono';
  color: #060A24;
  padding: 1.5%;
  cursor: pointer;
  line-height: 22px;
  font-weight: bold;
  display: inline-block;
  width: 288px;
  height: 48px;
  margin-top: 36px;
  margin-left: 16px;
  text-align: center;
  line-height: 40px;
}

.btn1:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#00F0B8), to(#0000fe));
  background-image: linear-gradient(to right, #00F0B8, #0000fe);
  color: white;
}

.btn2 {
  background-color: #00F3BB;
  font-size: 16px;
  font-family: 'IBM Plex Mono';
  color: #060A24;
  padding: 1.5%;
  cursor: pointer;
  line-height: 22px;
  font-weight: bold;
  display: inline-block;
  width: 288px;
  height: 48px;
  margin-top: 36px;
  margin-left: 16px;
  text-align: center;
  line-height: 40px;
}

.btn2:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#00F0B8), to(#0000fe));
  background-image: linear-gradient(to right, #00F0B8, #0000fe);
  color: white;
}

#marca {
  color: gray;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

/*menu simple con tamaño menor a 1000px*/
@media screen and (min-width: 1400px) {
  header {
    width: 100%;
    height: 80px;
    margin-left: none;
    margin-right: none;
    position: fixed;
  }
  header img {
    width: 36px;
    margin-top: 22px;
  }
  header nav .menu {
    margin-right: 100px;
  }
  header nav .menu ul {
    position: relative;
    top: 0;
    overflow: hidden;
    background: unset;
    height: unset;
  }
  header nav .menu ul li {
    padding: 25px 30px;
    display: inline-block;
  }
  header nav .menu ul li:hover {
    background: unset;
    color: #00F3BB;
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
  }
  header nav .menu ul li a {
    padding: unset;
    line-height: unset;
    color: #060A24;
  }
  header nav .menu ul li a:hover {
    color: #00F3BB;
  }
  header nav .menu input {
    display: none;
  }
  header nav .menu span {
    display: none;
  }
  .div2 {
    height: 369px;
    width: 1440px;
  }
  .div2 #parrafo1 {
    visibility: hidden;
  }
  .div2 #parrafo2 {
    visibility: visible;
  }
  .div2 div {
    width: 740px;
    margin-top: 120px;
    margin-left: 200px;
  }
  .div2 h1 {
    font-size: 64px;
    color: #060A24;
    line-height: 84px;
  }
  .div2 h1 span {
    color: #0000EC;
  }
  .div2 p {
    margin-top: 40px;
    height: 48px;
    width: 628px;
    margin-left: 204px;
  }
  .div2 .btn1 {
    width: 226px;
    height: 56px;
    font-size: 18px;
    margin-left: 200px;
    line-height: 15px;
  }
  .div3 {
    height: 1042.5px;
    width: 1440px;
  }
  .div3 section h1 {
    font-size: 48px;
    margin-top: 186px;
    margin-left: 200px;
  }
  .div3 .div3_bg {
    height: 880px;
  }
  .content_grid {
    border: 1px solid yellow;
    height: 480px;
    width: 1240px;
    margin-top: 26px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 143.5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 60px;
  }
  .content_grid iframe {
    width: 584px;
    height: 232px;
  }
  .div4 {
    height: 491.4px;
    width: 1440px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .div4 section {
    width: 657px;
  }
  .div4 section img {
    width: 455px;
    margin-top: -200px;
    margin-left: 200px;
  }
  .div4 aside {
    width: 710px;
  }
  .div4 aside h1 {
    font-size: 48px;
    margin-top: 20px;
    margin-left: 62.5px;
    width: 100%;
    color: #060A24;
    line-height: 42px;
  }
  .div4 aside p {
    font-size: 16px;
    margin-top: 24px;
    margin-left: 62.5px;
    width: 464px;
  }
  .div5 {
    height: 826px;
    width: 1440px;
  }
  .div5 h1 {
    font-size: 48px;
    font-weight: normal;
    margin-top: 64px;
    margin-left: 200px;
  }
  .content_images {
    margin-top: 36px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    height: 728px;
  }
  .content_images img {
    width: 33.3333%;
  }
  .div6 {
    height: 426px;
    width: 1440px;
  }
  .div6 h1 {
    margin-top: 85px;
    margin-left: 200px;
    font-size: 48px;
  }
  .content_images2 {
    width: 1040px;
    height: 210px;
    margin-left: 200px;
    margin-top: 36px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .content_images2 div {
    text-align: center;
  }
  .content_images2 div h2 {
    width: 220px;
  }
  .div7 {
    height: 518px;
    width: 1440px;
  }
  .div7 section h1 {
    font-size: 48px;
    margin-top: 213px;
    margin-left: 374px;
    line-height: 62px;
    letter-spacing: 1px;
  }
  .div7 section .btn2 {
    width: 345px;
    height: 56px;
    font-size: 18px;
    margin-left: 547px;
    text-align: center;
    line-height: 30px;
  }
  .div7 .div7_bg {
    height: 518px;
  }
  footer {
    height: 95px;
    width: 1440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer p {
    margin-top: 36px;
    margin-left: 100px;
    font-size: 16px;
  }
  footer .flex_nets {
    width: 214px;
    margin-top: 36px;
    margin-right: 100px;
  }
  footer .flex_nets ul li a i {
    height: 28px;
    width: 18px;
  }
}
/*# sourceMappingURL=style.css.map */