*{
    padding: 0%;
    margin: 0%;
    list-style: none;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} 

@import './partials/variables' ;
@import './partials/header' ;
@import './partials/div2';
@import './partials/div3';
@import './partials/div4';
@import './partials/div5';
@import './partials/div6';
@import './partials/div7';
@import './partials/footer';
@import './partials/btn';
@import './partials/mq';