.btn2 {
    background-color: #00F3BB;
    font-size: 16px;
    font-family: 'IBM Plex Mono';
    color: #060A24;
    padding: 13px;
    cursor: pointer;
    line-height: 22px;
    font-weight: bold;
    display: inline-block;
    width: 288px;
    height: 48px;
    margin-top: 36px;
    text-align: center;
} 
.btn2:hover {
    background-image: linear-gradient(to right ,#00F0B8, #0000fe); 
    color: white;
} 
