.btn {
    width: 288px;
    height: 48px;
    display: inline-block;
    font-size: 16px;
    color: #060A24;
    text-align: center;
    padding: 4%;
    cursor: pointer;
    margin-top: 36px;
    margin-left: 16px;
    margin-right: 16px;
    line-height: 22px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
}

.btn-primary {
    background-color: #00F3BB;
}

.btn:hover {
    background-image: linear-gradient(to right ,#00F0B8, #0000fe); 
    color: white;
    ;} 

