.div6{
width: $width-div;
margin-left: auto;
margin-right: auto;
height: 1026.5px;
border: 1px solid $border-color-test;
h1{
    font-family: 'IBM Plex Sans';
    font-weight: lighter;
    font-size: 36px;
    margin-top: 48px;
    margin-left: 16px;
    color:#060A24;
    line-height: 42px;
}

}
.content_grid3{
    border: 1px solid $border-color-test;
    font-family: 'IBM Plex Sans';
    font-weight: bold;
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 130px 68px 130px 116px 130px 84px 130px 74px;
    justify-items: center;
    img{
        padding: 13px;
    }

}