// EPISODIOS

// CARACTERÍSTICAS DEL DIV CONTENEDOR
.div3{
    width: $width-div;
    margin-left: auto;
    margin-right: auto;
    height: 1215.5px;
    //border: 1px solid yellowgreen;
    position: relative;
    section{
        position: absolute;
        z-index: 1;
        h1{
            font-family: 'IBM Plex Sans';
            display: inline-block;
            font-weight: lighter;
            font-size: 36px;
            margin-top: 64px;
            margin-left: 7%;
            color:#ffffff;
            line-height: 42px;

        }
    }

    //CARACTERÍSICAS DEL FONDO CON FIGURA GEOMÉTRICA
    .div3_bg{
        position: absolute;
        width: 100%;
        height: 1180px;
        background-image: linear-gradient(#0000FF, #0000A3); 
        transform: skewY(-6deg);
        transform-origin: right;
        z-index: -4;
    }
}

// CARACTERÍSTICAS DEL FLEX PARA LA DISTRIBUCIÓN DE LOS PODCAST
.content_grid{
    //border: 1px solid red;
    height: 943px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 143.5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 5px;

    iframe{
        width: 290px;
        border-width: 0px;
    }

}