// CONTENEDOR DE TÍTULO, PÁRRAFO Y BOTÓN

.div2{
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
    width: $width-div;
    height: 308px;
    //border: 1px solid $border-color-test;
    color: #060A24;
    text-align: left;

    // DEFINIMOS CUÁNDO ES VISIBLE CÁDA PARRÁFO SEGÚN EL MEDIAQUERY
    #parrafo1{
        visibility:visible;
    }
    #parrafo2{
        visibility:hidden;
        margin-top: -90px;
    }
    
    // DEFINIMOS TAMAÑOS DEL DIV Y CARACTERÍSTICAS DE TÍTULO Y PÁRRAFOS
        div{
        width: 224px;
        margin-top: 29px;
        margin-left: 5%;
    }
    h1{
        font-family: 'IBM Plex Sans';
        display: inline-block;
        margin-top: 29px;
        font-weight: 600;
        font-size: 36px;
        color:#060A24;
        line-height: 42px;
        //border: 1px solid yellowgreen;
        span{
            color: #060A24;
        }
    }

    p{
        font-family: 'IBM Plex Mono';
        font-size: 14px;
        line-height: 22px;
        margin-top: 16px;
        margin-left: 5%;
        margin-right: 5%;
        color:#060A24;
        //border: 1px solid yellowgreen;


    }

}
