
// SE DIVIDE EL FOOTER EN 1 FILA Y 2 COLUMNAS
footer{
    height: 121px;
    margin-left: auto;
    margin-right: auto;
    //border: 1px solid red;
    display: flex;
    flex-flow: column;

    p{
        text-align: center;
        font-family: 'IBM Plex Mono';
        font-size: 14px;
        margin-top: 24px;
        margin-left: 41px;
        margin-right: 41px;
        color:#060A24;
        line-height: 22px;
    }
}
// SE DIVIDE EL CONTENIDO DE REDES SOCIALES EN UNA FILA Y UNA COLUMNA PARA CADA LOGO
.flex_nets{
        //border: 1px solid $border-color-test;
        margin-top: 16px;
        margin-left: 41px;
        margin-right: 41px;
        ul{
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            li a i{
                height: 28px;
                width: 16px;
                transition: width 0s, height 0s, margin 0s; // SE GENERA EL EFECTO DE TRANSICIÓN
            }

        }
}

// DEFINICIÓN DE EFECTO DE TRANSICIÓN CUANDO PASA EL MOUSE
.flex_nets ul li a i:hover{
        width: 20px;
        height: 20px;
        transform: scale(2, 2);
 }
