header {
    width: $width-div;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    height: 44px;
    top: 0;
    z-index: 100; // SE DEFINE COMO EL CONTENIDO MÁS VISIBLE
    background: rgba(255, 255, 255, 0.9);
    //border: 1px solid green;
}
// POSICIONAMIENTO DE LOGO Y NAV EN EL HEADER
header img {
    float: left;
    margin-top:10px;
    margin-left: 7%;
    width: 24px;
}
header nav {
    float: right;
    margin-top:10px;
    margin-right: 6%;
}
// POSICIONAMIENTO DEL MENÚ DEBAJO DEL HEADER
header nav .menu ul {
    width: 100%;
    position: absolute;
    top: 44px;
    right: 0;
    overflow: hidden;
    list-style: none;
    background: #0000ec;
    height: 0px;
    transition: height 0.5s ease;

}
header nav .menu  ul li {
    position: relative;

} 
header nav .menu  ul li:hover {
    background: #00f3bb;
}
 
header nav .menu ul li a {
    position: relative;
    text-decoration: none;
    font-family: 'IBM Plex Mono';
    font-size: 16px;
    color:white;
    padding: 14px;
    line-height: 28px;
    display: block;
}
header nav .menu  ul li a:hover {
    color: black;
} 

// DEFINICIÓN DE CAJA PARA CAPTURAR EL EVENTO Y EJECUTAR LAS TRANSICIONES DE LOS SPAN
header nav .menu input[type="checkbox"]:checked ~ ul {
    height: 224px;
    transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    -webkit-transition: height 0.5s ease-in-out;
}
header nav .menu {
    padding-top: 3px;
}

//SE OCULTA EL CHECKBOX PERO SE PONE AL FRENTE
header nav .menu input {
    position: absolute;
    display: inline-block;
    margin-top: -4px;
    width: 40px;
    height: 32px;
    opacity: 0;
    z-index: 2;

}
//CREACIÓN DE LAS LÍNEAS PARA EL MENÚ
header nav .menu span {
    display: block;
    width: 25px;
    height: 2.5px;
    margin-bottom: 6.5px;
    position: relative;
    background: #000;
    z-index: 1;
    transform-origin: 3px 0px;
    transition: transform 0.5s ease,
        opacity 0.55s ease;
}
header nav .menu span:first-child {
    transform-origin: 0% 0%;
}
header nav .menu span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

//TRANSICIÓN EN CRUZ DE LAS LÍNEAS - EFECTO X
header nav .menu input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(2px, 1px);
}
header nav .menu input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
header nav .menu input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(1px, 0px);
}
